@import 'dashboard';
@import 'compare';
@import 'device';
@import 'navbar';
@import 'input-register';

.grower:hover {
  transform: scale(1.1);
}




.card{
  border: 1px solid black;
}


.custom-select{
  border: 1px solid black;
}

.text-green{
  color: green;
}

.button-outline-success{
  border-radius: 2rem;
}

.card-header{
  background: none;
}